Source: epic
Section: utils
Priority: optional
Maintainer: Yuri Albuquerque <yurialbuquerque@brickabode.com>
Build-Depends: build-essential, debhelper, cmake, libclang-dev, clang, cargo, rustc, git, libgit2-dev, zlib1g-dev, pkg-config
Standards-Version: 4.0.0
Homepage: http://brickabode.com/

Package: epic
Architecture: amd64
Depends: librandomx
Description: Epic server
