name: Epic Master Branch

on:
  push:
    branches:
      - master
      - github-actions

  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v3
    - name: Install recommended rust toolchain
      uses: actions-rs/toolchain@v1
      with:
          toolchain: 1.67.1
          override: true
    - name: build
      run: cargo build --release --locked
